<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="blogs content">
        <h2>About</h2>
        <h3>Lorem ipsum gbemi trabaye</h3>
        <p>Lorem ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus corporis sunt quasi quos deserunt ipsam eligendi accusamus necessitatibus unde tenetur facilis voluptas ratione, corrupti mollitia accusantium consectetur ullam beatae! Nulla?</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>